@charset "UTF-8";
$dt-gray-dark: #282a36; // Background
$dt-gray: #44475a; // Current Line & Selection
$dt-gray-light: #f8f8f2; // Foreground
$dt-blue: #bfc6d8; // Comment
$dt-cyan: #8be9fd;
$dt-green: #50fa7b;
$dt-orange: #ff8000;
$dt-pink: #ff79c6;
$dt-purple: #bd93f9;
$dt-red: #ff5555;
$dt-yellow: #f1fa8c;
$sans-serif-fonts: "Helvetica Neue",
Helvetica,
Roboto,
Arial,
"Microsoft YaHei",
微软雅黑,
STXihei,
华文细黑,
sans-serif;
$serif-fonts: "Georgia Pro",
Georgia,
Times,
"Times New Roman",
宋体,
SimSun,
华文细黑,
STXihei,
serif;
$mono-fonts: Menlo,
Courier,
Monaco,
monospace;
/*
 * Styles
 */

pre.highlight {
    background: $dt-gray-dark !important;
    color: $dt-gray-light;
    .hll,
    .s,
    .sa,
    .sb,
    .sc,
    .dl,
    .sd,
    .s2,
    .se,
    .sh,
    .si,
    .sx,
    .sr,
    .s1,
    .ss {
        color: $dt-yellow;
    }
    .go {
        color: $dt-gray;
    }
    .err,
    .g,
    .l,
    .n,
    .x,
    .p,
    .ge,
    .gr,
    .gh,
    .gi,
    .gp,
    .gs,
    .gu,
    .gt,
    .ld,
    .no,
    .nd,
    .ni,
    .ne,
    .nn,
    .nx,
    .py,
    .w,
    .bp {
        color: $dt-gray-light;
    }
    .gh,
    .gi,
    .gu {
        font-weight: bold;
    }
    .ge {
        text-decoration: underline;
    }
    .bp {
        // font-style: italic;
    }
    .c,
    .ch,
    .cm,
    .cpf,
    .c1,
    .cs {
        color: $dt-blue;
    }
    .kd,
    .kt,
    .nb,
    .nl,
    .nv,
    .vc,
    .vg,
    .vi,
    .vm {
        color: $dt-cyan;
    }
    .kd,
    .nb,
    .nl,
    .nv,
    .vc,
    .vg,
    .vi,
    .vm {
        // font-style: italic;
    }
    .na,
    .nc,
    .nf,
    .fm {
        color: $dt-orange;
    }
    .k,
    .o,
    .cp,
    .kc,
    .kn,
    .kp,
    .kr,
    .nt,
    .ow {
        color: $dt-pink;
    }
    .m,
    .mb,
    .mf,
    .mh,
    .mi,
    .mo,
    .il {
        color: $dt-purple;
    }
    .gd {
        color: $dt-red;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input[type="submit"] {
    -webkit-font-smoothing: antialiased;
    background-color: #477dca;
    border-radius: 0.1875em;
    color: white;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    padding: .75em 1em;
    text-decoration: none;
}

button:hover,
input[type="submit"]:hover {
    background-color: #2c5999;
    color: white;
}

body {
    background-color: #fff;
    color: #333;
    font-family: $sans-serif-fonts;
    font-size: 1em;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern" 1, "kern";
    font-feature-settings: "kern" 1, "kern";
    -webkit-font-kerning: normal;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans-serif-fonts;
    line-height: 1.25em;
    margin: 0;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

p {
    margin: 0 0 0.75em;
}

a {
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
    color: #477dca;
    text-decoration: none;
    &:hover {
        color: #2c5999;
    }
    &:active,
    &:focus {
        color: #2c5999;
        outline: none;
    }
}

hr {
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.5em 0;
}

img {
    margin: 0;
    max-width: 100%;
}

blockquote {
    border-left: 2px solid #ddd;
    color: #595959;
    margin: 1.5em 0;
    padding-left: 0.75em;
}

cite {
    color: #737373;
    font-style: italic;
    &:before {
        content: "— ";
    }
}

fieldset {
    background: #f7f7f7;
    border: 1px solid #ddd;
    margin: 0 0 0.75em 0;
    padding: 1.5em;
}

input,
label,
select {
    display: block;
    font-family: $sans-serif-fonts;
    font-size: 1em;
}

label {
    font-weight: bold;
    margin-bottom: 0.375em;
    &.required:after {
        content: "*";
    }
    abbr {
        display: none;
    }
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color;
    -moz-transition: border-color;
    transition: border-color;
    background-color: white;
    border-radius: 0.1875em;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    font-family: $sans-serif-fonts;
    font-size: 1em;
    margin-bottom: 0.75em;
    padding: 0.5em 0.5em;
    width: 100%;
}

input {
    &[type="email"],
    &[type="number"],
    &[type="password"],
    &[type="search"],
    &[type="tel"],
    &[type="text"],
    &[type="url"],
    &[type="color"],
    &[type="date"],
    &[type="datetime"],
    &[type="datetime-local"],
    &[type="month"],
    &[type="time"],
    &[type="week"] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: border-color;
        -moz-transition: border-color;
        transition: border-color;
        background-color: white;
        border-radius: 0.1875em;
        border: 1px solid #ddd;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
        font-family: $sans-serif-fonts;
        font-size: 1em;
        margin-bottom: 0.75em;
        padding: 0.5em 0.5em;
        width: 100%;
    }
}

select[multiple=multiple] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color;
    -moz-transition: border-color;
    transition: border-color;
    background-color: white;
    border-radius: 0.1875em;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    font-family: $sans-serif-fonts;
    font-size: 1em;
    margin-bottom: 0.75em;
    padding: 0.5em 0.5em;
    width: 100%;
}

textarea:hover {
    border-color: #c4c4c4;
}

input {
    &[type="email"]:hover,
    &[type="number"]:hover,
    &[type="password"]:hover,
    &[type="search"]:hover,
    &[type="tel"]:hover,
    &[type="text"]:hover,
    &[type="url"]:hover,
    &[type="color"]:hover,
    &[type="date"]:hover,
    &[type="datetime"]:hover,
    &[type="datetime-local"]:hover,
    &[type="month"]:hover,
    &[type="time"]:hover,
    &[type="week"]:hover {
        border-color: #c4c4c4;
    }
}

select[multiple=multiple]:hover {
    border-color: #c4c4c4;
}

textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none;
}

input {
    &[type="email"]:focus,
    &[type="number"]:focus,
    &[type="password"]:focus,
    &[type="search"]:focus,
    &[type="tel"]:focus,
    &[type="text"]:focus,
    &[type="url"]:focus,
    &[type="color"]:focus,
    &[type="date"]:focus,
    &[type="datetime"]:focus,
    &[type="datetime-local"]:focus,
    &[type="month"]:focus,
    &[type="time"]:focus,
    &[type="week"]:focus {
        border-color: #477dca;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
        outline: none;
    }
}

select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none;
}

textarea {
    resize: vertical;
}

input {
    &[type="search"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    }
    &[type="checkbox"],
    &[type="radio"] {
        display: inline;
        margin-right: 0.375em;
    }
    &[type="file"] {
        margin-bottom: 0.75em;
        padding-bottom: 0.5em;
        width: 100%;
    }
}

select {
    width: auto;
    max-width: 100%;
    margin-bottom: 1.5em;
}

table {
    border-collapse: collapse;
    margin: 0.75em 0;
    table-layout: fixed;
    width: 100%;
}

th {
    border-bottom: 1px solid #b7b7b7;
    font-weight: bold;
    padding: 0.75em 0;
    text-align: left;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 0.75em 0;
}

tr,
td,
th {
    vertical-align: middle;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

dl {
    margin-bottom: 0.75em;
    dt {
        font-weight: bold;
        margin-top: 0.75em;
    }
    dd {
        margin: 0;
    }
}

button,
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

@font-face {
    font-family: 'NSHipster Icons';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url(font_path("nshipster.woff")) format("woff"), url(font_path("nshipster.ttf")) format("truetype"), url(font_path("nshipster.svg")) format("svg");
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: "NSHipster Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
    content: "";
}

.icon-facebook:before {
    content: "";
}

.icon-twitter:before {
    content: "";
}

.icon-feed:before {
    content: "";
}

.icon-cc:before {
    content: "";
}

.icon-cc-by:before {
    content: "";
}

.icon-cc-nc:before {
    content: "";
}

@keyframes twirl {
    0% {
        transform: scale(1) rotate(0);
    }
    10%,
    20% {
        transform: scale(0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale(1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
        transform: scale(1.1) rotate(-3deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}

#type-encodings tr>td:first-child,
#method-encodings tr>td:first-child {
    width: 12em;
    padding-left: 3em;
}

@media screen and (max-width: 480px) {
    #gpuimage table {
        font-size: 50%;
    }
}

#gpuimage {
    #gpuimage-benchmarks td {
        text-align: center;
        &:first-child {
            text-align: left;
        }
        &:last-child {
            text-align: right;
        }
    }
    #gpuimage-filters td {
        vertical-align: top;
        font-size: 75%;
    }
    blockquote {
        font-size: 75%;
    }
}

table {
    &.core-data-versus-nskeyedarchiver td {
        text-align: center;
        &:first-child {
            text-align: left;
            font-weight: bold;
        }
    }
    &#xcode-key-bindings-modifiers {
        width: 100%;
        td,
        th {
            width: 20%;
            text-align: center;
        }
    }
}

#cfstringtransform table {
    display: block;
    td:first-child {
        width: 60%;
    }
}

#icloud header time {
    background-color: rgba(255, 128, 0, 0.2);
}

html,
body {
    font-family: $serif-fonts;
    margin: 0;
    border-top: 3px #ff8000 solid;
    background: #f8f7f5;
}

body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    margin: 0 auto;
    padding: 2em;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    section {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        padding-bottom: 1em;
        &:after {
            content: "";
            display: table;
            clear: both;
            content: "";
            display: table;
            clear: both;
        }
    }
}

[role='banner'] {
    display: block;
    margin-bottom: 2em;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    #logo {
        float: left;
        display: block;
        margin-right: 2.35765%;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 1em;
        height: 6em;
        &:last-child {
            margin-right: 0;
        }
        a {
            display: block;
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }
        svg {
            width: 146px;
            height: 84px;
            overflow: visible;
            margin-left: -3px;
            #mustache {
                position: absolute;
                transform: rotate(0) scale(1);
                transform-origin: 50% 70% 0;
                transition: transform 1s;
            }
            &:hover,
            &.animated {
                position: relative;
                z-index: 2;
                #mustache {
                    animation: twirl 1s ease-in-out;
                }
            }
        }
    }
    nav {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%;
        &:last-child {
            margin-right: 0;
        }
        li {
            display: block;
            float: left;
            display: block;
            margin-right: 10.1484%;
            width: 26.56773%;
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 1.5em;
                display: block;
                text-align: center;
                padding-top: 14px;
                &.current {
                    padding-top: 10px;
                    border-top: 4px #ff8000 solid;
                }
                &:hover {
                    padding-top: 10px;
                    border-top: 4px #ffc080 solid;
                }
            }
        }
    }
    form {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        margin-left: 8.5298%;
        margin-right: 0;
        float: right;
        &:last-child {
            margin-right: 0;
        }
        input {
            height: 2.5em !important;
        }
        #st-search-input {
            float: right;
            clear: right;
        }
    }
}

@media (prefers-reduced-motion) {
    #logo #mustache {
        animation: none !important;
    }
}

@media (prefers-dark-interface) {
    body {
        background: $dt-gray-dark !important;
        color: $dt-gray-light !important;
        blockquote {
            color: $dt-gray-light !important;
        }
        div.highlight {
            border: 1px $dt-gray-light solid !important;
        }
    }
}

@media (hover: none) {
    #logo #mustache {
        animation-iteration-count: 1;
    }
}

// }
@media screen and (max-width: 768px) {
    [role='banner'] #logo {
        margin: 0 auto 2em auto;
        svg {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 768px) {
    [role='banner'] {
        #logo,
        nav {
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    [role='banner'] form {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    [role='banner'] {
        margin-bottom: 2em;
    }
}

#latest,
#announcement {
    h1 {
        margin-bottom: 0.5em;
    }
    article {
        font-size: 125%;
    }
}

#announcement {
    background-color: rgba(255, 128, 0, 0.2);
    margin-left: -1em;
    margin-right: -1em;
    padding: 1em;
}

#recent article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    min-height: 15em;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    &:last-child {
        margin-right: 0;
    }
    p {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        text-overflow: -o-ellipsis-lastline;
    }
}

@media screen and (min-width: 769px) {
    #recent article:nth-of-type(3n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    #recent article {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        min-height: 12em;
        &:last-child,
        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    #recent article {
        width: 100%;
        min-height: 7em;
        margin-bottom: 1em;
    }
}

#popular article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    &:last-child,
    &:nth-of-type(2n) {
        margin-right: 0;
    }
    p {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        text-overflow: -o-ellipsis-lastline;
    }
}

@media screen and (max-width: 480px) {
    #popular article {
        width: 100%;
        margin-bottom: 1em;
    }
}

#merchandise {
    margin-top: -30px;
    h1 {
        margin-bottom: 15px;
    }
}

#revisions {
    border-top: 1px #ccc solid;
    padding: 1em 0 0;
}

#follow {
    border-top: 1px #ccc solid;
    padding: 1em 0;
    ul {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        &:last-child {
            margin-right: 0;
        }
        li {
            float: left;
            display: block;
            margin-right: 7.42297%;
            width: 19.43277%;
            font-size: 2em;
            &:last-child,
            &:nth-of-type(4n) {
                margin-right: 0;
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
    form {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 57.35098%;
        margin-left: 8.5298%;
        margin-right: 0;
        &:last-child {
            margin-right: 0;
        }
        input {
            &[type="email"] {
                float: left;
                display: block;
                margin-right: 3.57866%;
                width: 61.158%;
                &:last-child {
                    margin-right: 0;
                }
            }
            &[type="submit"] {
                float: left;
                display: block;
                margin-right: 3.57866%;
                width: 35.26334%;
                border-radius: 10px;
                background: #ff8000;
                font-size: 0.75em;
                padding: 15px 0;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #follow ul {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    #follow form {
        width: 100%;
        margin-left: 0%;
        margin-top: 2em;
    }
}

@media screen and (max-width: 768px) {
    #follow form input[type="submit"] {
        font-size: 0.67em;
    }
}

article.author {
    padding-top: 2em;
    header {
        min-height: 200px;
        .avatar {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 23.23176%;
            padding-right: 1em;
            padding-bottom: 1em;
            &:last-child {
                margin-right: 0;
            }
        }
        h1 {
            margin-bottom: 1em;
        }
    }
}

section h1 {
    margin-bottom: 1em;
}

[role="article"] {
    font-size: 125%;
    margin-bottom: 1em;
    table {
        overflow: scroll;
        margin: 2em 0;
        caption {
            margin: 2em 0 1em 0;
            font-size: 1.5em;
        }
    }
    div.highlight {
        background: $dt-gray-dark !important;
        border-radius: 0.25em;
        overflow: auto;
        padding: 0 1em;
        margin-bottom: 1em;
    }
    header {
        display: block;
        text-align: center;
        margin-bottom: 3em;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        h1 {
            font-size: 3em;
            line-height: 1em;
            margin-bottom: 0.5em;
        }
        h2 {
            font-size: 1.25em;
            font-family: $serif-fonts;
            font-style: italic;
            font-weight: 300;
            color: #a3a39e;
            time {
                color: #64645e;
                white-space: nowrap;
            }
        }
    }
    .content {
        margin-bottom: 5em;
        h1,
        h2,
        h3,
        h4,
        h5 {
            margin: 2em 0 1em 0;
        }
        h3 {
            font-size: 1.25em;
        }
        h4 {
            font-size: 1em;
        }
        hr {
            width: 40%;
            margin: 2em auto;
        }
        img,
        object,
        embed,
        figure,
        svg {
            margin: 1em auto;
            display: block;
            width: auto;
        }
        ul,
        ol {
            margin: 1.5em 0;
            padding: 0 3em;
        }
        ul li,
        ol li {
            list-style: disc;
            margin-bottom: 1em;
        }
        figure {
            text-align: center;
        }
        del {
            color: rgba(34, 34, 32, 0.5);
        }
        ins {
            background-color: rgba(255, 128, 0, 0.2);
            text-decoration: none;
        }
        blockquote {
            margin: 2em;
            margin-right: 4em;
            border-left: 3px #ff8000 solid;
            cite {
                margin-top: 1em;
                display: block;
            }
        }
        table {
            th {
                text-align: center;
            }
            td {
                padding: 1em;
            }
        }
    }
    sup {
        font-size: 50%;
        margin-right: -0.5em;
    }
    footer {
        .contributor {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%;
            border-top: 1px #ccc solid;
            padding: 1em 0;
            &:last-child,
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(2n+1) {
                clear: left;
            }
            &:only-child {
                width: 100%;
                .avatar {
                    padding: 0 1em;
                }
            }
            .avatar {
                float: left;
                display: block;
                margin-right: 4.82916%;
                width: 30.11389%;
                &:last-child {
                    margin-right: 0;
                }
            }
            .details {
                float: left;
                display: block;
                margin-right: 4.82916%;
                width: 65.05695%;
                margin-right: 0;
                margin-top: 1em;
                &:last-child {
                    margin-right: 0;
                }
                span {
                    font-weight: 700;
                }
                p {
                    font-size: 0.75em;
                    margin-top: 1em;
                }
            }
        }
        small {
            display: block;
            font-size: 1em;
            font-weight: 700;
            color: #777;
            text-transform: lowercase;
            font-family: $sans-serif-fonts;
            font-variant: small-caps;
            margin-bottom: 1em;
        }
    }
}

@media screen and (max-width: 480px) {
    [role="article"] {
        font-size: 75%;
        .content {
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 768px) {
    [role="article"] {
        font-size: 100%;
    }
}

@media screen and (max-width: 480px) {
    [role="article"] .content {
        ul,
        ol {
            padding: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    [role="article"] .content blockquote {
        margin: 1em 0;
    }
}

@media screen and (max-width: 480px) {
    [role="article"] footer .contributor {
        width: 100%;
        margin-bottom: 1em;
        &:not(:first-child) {
            border-top: none;
        }
        .avatar {
            padding: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    [role="article"] footer .contributor .details {
        margin-top: 0;
    }
}

[role="complementary"] {
    display: block;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    #continue {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%;
        &:last-child {
            margin-right: 0;
        }
        h1 {
            margin-bottom: 0.5em;
        }
        p {
            font-size: 0.75em;
        }
    }
    #related {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        margin-right: 0;
        &:last-child {
            margin-right: 0;
        }
        li {
            font-size: 0.75em;
        }
    }
}

@media screen and (max-width: 480px) {
    [role="complementary"] #related {
        margin-top: 1em;
    }
}

@media screen and (max-width: 480px) {
    [role="complementary"] #related li {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    [role="complementary"] {
        #continue,
        #related {
            width: 100%;
        }
    }
}

[role="contentinfo"] {
    text-align: center;
    margin-top: 2em;
    padding: 1em;
}

.avatar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
}

html {
    ::selection,
    ::-moz-selection {
        background: rgba(76, 49, 80, 0.5);
        color: #fff;
    }
}

body {
    ::selection,
    ::-moz-selection {
        background: rgba(76, 49, 80, 0.5);
        color: #fff;
    }
}

a {
    color: #ff8000 !important;
    &:visited {
        color: #ff8000 !important;
    }
    &:hover,
    &:visited:hover {
        text-decoration: none;
    }
}

code {
    font-family: Courier, Monaco, monospace;
    font-size: 85%;
}

pre code {
    font-size: 80%;
}

#contributors .author {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-bottom: 1em;
    &:last-child {
        margin-right: 0;
    }
    &:nth-of-type(5) {
        margin-left: 11.5%;
    }
    &:nth-of-type(4) {
        margin-right: 0;
    }
    .avatar {
        display: block;
        margin: 0em auto 1em auto;
        width: 70%;
    }
    a {
        text-align: center;
        display: block;
    }
}

.archive {
    dl {
        float: left;
        display: block;
        margin-right: 2.5%;
        width: 30%;
        &:last-child,
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(6) {
            margin-right: 0;
        }
    }
    ol,
    ul {
        list-style: none;
    }
    ol li,
    ul li {
        margin: 2em 0;
    }
    ol li {
        span,
        time {
            display: block;
        }
    }
    ul li {
        span,
        time {
            display: block;
        }
    }
    ol li .title,
    ul li .title {
        font-family: $sans-serif-fonts;
        font-weight: 700;
        font-size: 1.5em;
    }
    ol li time,
    ul li time {
        color: #64645e;
        white-space: nowrap;
        font-style: italic;
        font-weight: 300;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 768px) {
    .archive dl {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-right: 0;
        &:last-child {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    .archive dl {
        width: 100%;
    }
}

#sharing {
    ul {
        display: block;
        float: right;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    li {
        font-size: 1.5em;
        display: block;
        margin: 0.5em;
        float: left;
        a:hover {
            text-decoration: none;
            color: #4c3150 !important;
        }
    }
}

@media screen and (max-width: 480px) {
    #sharing ul {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    #sharing li {
        display: none !important;
        margin: 0;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        &:last-child,
        &:nth-child(4) {
            margin-right: 0;
        }
        &:nth-child(5) {
            clear: left;
        }
        a,
        i {
            display: block;
            margin: 0 auto;
            font-size: 1.25em;
        }
    }
}

.archive ul>li,
[role="contentinfo"] ul>li,
#related ul>li {
    list-style: disc inside !important;
    display: table-row;
}

.archive ul>li:before,
[role="contentinfo"] ul>li:before,
#related ul>li:before {
    content: "●";
    display: table-cell;
    padding-right: 0.5em;
}

.archive dl,
[role="contentinfo"] dl,
#related dl {
    padding: 0 0.5em;
}

.archive dl dt,
[role="contentinfo"] dl dt,
#related dl dt {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.archive dl dd,
[role="contentinfo"] dl dd,
#related dl dd {
    list-style: disc inside !important;
    display: table-row;
}

.archive dl dd:before,
[role="contentinfo"] dl dd:before,
#related dl dd:before {
    content: "●";
    display: table-cell;
    padding-right: 0.5em;
}

section>h1 {
    font-family: $serif-fonts;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    font-size: 1.5em;
}

article.excerpt h1 {
    font-size: 1.5em;
}

a {
    &.readmore {
        font-style: italic;
    }
    &:hover {
        text-decoration: underline;
    }
}

.book {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    &:last-child,
    &:nth-of-type(3n) {
        margin-right: 0;
    }
    a {
        display: block;
    }
    img {
        display: block;
        margin: 0 auto;
        width: 200px;
        padding: 4px;
        &:hover {
            padding: 0;
            border: 4px #ff8000 solid;
        }
    }
}

@media screen and (max-width: 480px) {
    .book {
        width: 100%;
        margin-bottom: 1em;
    }
}

.tagline {
    clear: both;
    font-weight: 300;
    margin: 1em 0;
    padding-top: 1em;
}

@media screen and (max-width: 480px) {
    .tagline {
        font-size: 110%;
    }
}

.highlight-group {
    margin-top: 1em;
}

.language-toggle {
    display: block;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    a {
        cursor: pointer;
        display: block;
        float: right;
        padding-left: 0.5em;
        color: #a3a39e !important;
        text-decoration: none;
        &.active {
            color: #222220 !important;
        }
    }
}

#promotion {
    .book img {
        margin: 0;
    }
    h3 {
        font-family: $serif-fonts;
    }
    h4 {
        font-family: $serif-fonts;
        font-style: italic;
        font-weight: 300;
        margin-bottom: 1em;
    }
    p {
        font-size: 0.75em;
    }
    a.buy {
        background: #ff8000;
        border-radius: 10px;
        color: #fff !important;
        font-family: $sans-serif-fonts;
        font-weight: 700;
        margin-top: 1em;
        padding: 15px;
        text-align: center;
        display: inline-block;
        &:hover {
            text-decoration: none !important;
        }
    }
    &.home {
        margin-top: -15px;
        padding: 35px 44px;
        background: #eee;
        border-radius: 20px;
        p {
            font-size: 1em;
        }
        small {
            display: block;
            font-size: 1.2em;
            font-weight: 700;
            margin-left: 5px;
            color: #777;
            text-transform: lowercase;
            font-family: $sans-serif-fonts;
            font-variant: small-caps;
        }
    }
}

@media screen and (max-width: 480px) {
    #promotion .book img {
        margin: 0 auto;
    }
}

@media print {
    body {
        font-size: 70%;
    }
    img {
        max-width: 50%;
    }
}
